node-red-files/user-dir/flows.json
[
    {
        "id": "3f882c89866aacd8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b64994643788e837",
        "type": "inject",
        "z": "3f882c89866aacd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "24810721c39bda0c"
            ]
        ]
    },
    {
        "id": "e4f9c456255b4861",
        "type": "debug",
        "z": "3f882c89866aacd8",
        "name": "After End",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "79cba081cabbe7cf",
        "type": "debug",
        "z": "3f882c89866aacd8",
        "name": "Count Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "24810721c39bda0c",
        "type": "configurable-countdown-timer",
        "z": "3f882c89866aacd8",
        "name": "configurable-countdown-timer",
        "countdownFrom": "3",
        "restartOnSecondMessage": true,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "e4f9c456255b4861"
            ],
            [
                "79cba081cabbe7cf"
            ],
            [
                "4ee046c4fbe37ccd"
            ]
        ]
    },
    {
        "id": "c3eb4b1893654c6d",
        "type": "inject",
        "z": "3f882c89866aacd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "24810721c39bda0c"
            ]
        ]
    },
    {
        "id": "4ee046c4fbe37ccd",
        "type": "debug",
        "z": "3f882c89866aacd8",
        "name": "Cancel",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 260,
        "wires": []
    }
]