node-red-files/user-dir/flows.json
[
    {
        "id": "3f882c89866aacd8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b64994643788e837",
        "type": "inject",
        "z": "3f882c89866aacd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "5a9ce9b10b8004a6"
            ]
        ]
    },
    {
        "id": "5a9ce9b10b8004a6",
        "type": "configurable-countdown-timer",
        "z": "3f882c89866aacd8",
        "name": "configurable-countdown-timer",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "e4f9c456255b4861"
            ]
        ]
    },
    {
        "id": "e4f9c456255b4861",
        "type": "debug",
        "z": "3f882c89866aacd8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    }
]